<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gitrich">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GitRich"
        android:usesCleartextTraffic="true">
        <activity android:name=".CreateReceipt"></activity>
        <activity android:name=".test" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ReceiptDetails" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AllReceipts"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OCRScannerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QRScannerResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QRScannerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Voice"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>